# Additional configuration for erlinit

# Turn on the debug prints
#-v

# Specify the tty that Elixir shell should use.
-c tty0

# If more than one tty are available, always warn if the user is looking at
# the wrong one.
--warn-unused-tty

# Use dtach to capture the iex session so that it can be redirected
# to the app's GUI
#-s "/usr/bin/dtach -N /tmp/iex_prompt"

# Specify the user and group IDs for the Erlang VM
#--uid 100
#--gid 200

# Uncomment to hang the board rather than rebooting when Erlang exits
--hang-on-exit

# Optionally run a program if the Erlang VM exits
#--run-on-exit /bin/sh

# Enable UTF-8 filename handling in Erlang and custom inet configuration
-e LANG=en_US.UTF-8;LANGUAGE=en;ERL_INETRC=/etc/erl_inetrc

# Mount the /mnt partition readonly. It contains server provisioning
# data that is used by the application.
-m /dev/vda1:/mnt:vfat:ro:

# Mount the application partition
-m /dev/vda4:/root:ext4::

# Erlang release search path
-r /srv/erlang

# Assign a unique hostname based on the board id
-d "/usr/bin/boardid -b macaddr -n 4"
-n nerves-%.4s
